---
import MiniArrowRigth from "../icons/miniArrowRigth.astro";

interface Props {
    date: string;
    title: string;
    description: string;
    url?: string;
}

const { date, description, title } = Astro.props;
---

<article class="py-5 border-b border-gray-300 last:border-0 flex flex-col">
    <span class="text-sm text-gray-600">{date}</span>
    <a
        href={`/noticias/esto_es_una_noticia`}
        class="hover:text-secondary transition-colors inline-flex items-center gap-x-1"
    >
        <h3 class="mt-2 text-md font-semibold">
            {title}
        </h3>
    </a>
    <p class="text-gray-700 text-sm mt-2">
        {description}
    </p>
</article>
