@import "tailwindcss";

@import '@fontsource-variable/roboto';
@import '@fontsource-variable/roboto-condensed';
@plugin '@tailwindcss/typography';



@theme {
    --color-secondary: oklch(0.681 0.162 75.834);
    --color-primary: oklch(0.290 0.091 267.935)
}

/* Definir fuentes globales */
@layer base {
    html {
        font-family: 'Roboto Variable', sans-serif;
        /* Fuente principal para todo el texto */
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Roboto Condensed Variable', serif;
        /* Fuente para títulos */
        font-weight: 700;
        /* Peso para títulos */
    }

    /* Prevenir corte incorrecto de palabras en todo el sitio */
    body {
        word-break: keep-all;
        overflow-wrap: break-word;
        hyphens: none;
    }
}

/* Estilos para contenido HTML inyectado en noticias */