---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout
    title="Poder Judicial de Guinea Ecuatorial | Audiencias de Guinea Ecuatorial"
>
    <h1>Audiencias</h1>
</MainLayout>
