---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Poder Judicial de Guinea Ecuatorial | Consejo Judicial">
    <section class="max-w-7xl mx-auto p-5">
        <h1 class="text-center text-5xl">Página en creación...</h1>
    </section>
</MainLayout>
