---
import Navbar from "../components/Navbar.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Palacio de Justicia de Guinea Ecuatorial | Historia">
    <Navbar />
    <h1 class="text-center text-5xl mt-5">Esto es la web de Historia</h1>
</MainLayout>
