---
import Navbar from "../components/Navbar.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Palacio de Justicia de Guinea Ecuatorial | Historia">
    <Navbar />
    <h1
        class="text-center text-6xl w-1/2 mx-auto text-pretty mt-20 font-semibold"
    >
        Orígenes y Fundación del Palacio de Justicia
    </h1>
    <p class="text-center mt-5 text-gray-700 text-xl w-1/2 mx-auto">
        Descubre los cimientos de la Corte Suprema y su papel en la
        administración de justicia desde sus inicios.
    </p>
</MainLayout>
