---
import { Image } from "astro:assets";
import Navbar from "../components/Navbar.astro";
import MainLayout from "../layouts/MainLayout.astro";
import RightArrow from "../components/icons/rightArrow.astro";
---

<MainLayout>
	<section class="relative">
		<img
			src="/images/palacio_justicia.jpg"
			alt=""
			class="w-full h-screen object-cover"
		/>
		<div class="absolute inset-0 w-full h-screen bg-black opacity-60"></div>

		<div class="absolute inset-0 flex items-center justify-center">
			<!-- Contenido centrado aquí -->
			<div
				class="text-center text-white p-8 rounded-lg max-w-6xl mx-0 md:mx-4"
			>
				<h1
					class="text-3xl md:text-5xl lg:text-7xl font-bold mb-4 uppercase text-balance"
				>
					Palacio de Justicia de Guinea Ecuatorial
				</h1>
				<p class="text-lg md:text-xl">
					Facilitamos el acceso a información y recursos legales para
					todos.
				</p>
				<div
					class="mt-10 flex flex-col sm:flex-row justify-center gap-x-5 gap-y-5"
				>
					<a
						href="/asesoria-juridica"
						class="bg-secondary px-3 py-2 rounded-md text-sm md:text-lg cursor-pointer hover:scale-105 transition-transform"
						>Más Información</a
					>
					<a
						href="/historia"
						class="border border-white px-3 py-2 rounded-md flex items-center-safe justify-center gap-x-2 cursor-pointer group hover:bg-white hover:scale-105 transition"
					>
						<span class="group-hover:text-black"
							>Historia del palacio</span
						>
						<RightArrow
							classname="size-5 text-white mt-1 group-hover:text-black"
						/>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="mt-10 mb-20 max-w-7xl mx-auto">
		<h5 class="text-center text-xl font-bold">En colaboración con</h5>
		<div
			class="flex justify-center items-center gap-x-10 gap-y-5 mt-10 mx-5 md:mx-0 flex-wrap"
		>
			<a href="/">
				<img src="/images/logo.png" alt="logo" class="w-20 h-fit" />
			</a>
			<a href="/">
				<img src="/images/logo.png" alt="logo" class="w-20 h-fit" />
			</a>
			<a href="/">
				<img src="/images/logo.png" alt="logo" class="w-20 h-fit" />
			</a>
			<a href="/">
				<img src="/images/logo.png" alt="logo" class="w-20 h-fit" />
			</a>
			<a href="/">
				<img src="/images/logo.png" alt="logo" class="w-20 h-fit" />
			</a>
			<a href="/">
				<img src="/images/logo.png" alt="logo" class="w-20 h-fit" />
			</a>
			<a href="/">
				<img src="/images/logo.png" alt="logo" class="w-20 h-fit" />
			</a>
		</div>
	</section>
	<section class="bg-primary flex flex-col lg:flex-row my-10">
		<img
			src="https://placehold.co/800x500"
			alt="prueba"
			class="w-full lg:w-1/2"
		/>
		<div class="flex flex-col justify-center p-10">
			<h5 class="text-secondary text-lg md:text-xl mb-3">
				Su Socio en el Ámbito Legal
			</h5>
			<h3 class="text-white text-3xl md:text-5xl mb-7">
				Acceda a la Justicia de Forma Sencilla
			</h3>
			<p class="text-white text-sm md:text-lg">
				En el Palacio de Justicia, le brindamos el apoyo necesario para
				resolver sus dudas legales. Nuestro equipo está aquí para
				asistirle en cada paso del camino.
			</p>

			<a
				href="/asesoria-juridica"
				class="text-secondary border border-secondary px-5 py-2 w-fit mt-10 rounded-md text-lg hover:bg-secondary hover:text-white transition-colors"
				>Asesoría jurídica</a
			>
		</div>
	</section>
	<section class="max-w-7xl mx-auto my-20">
		<h5 class="text-5xl text-center">Últimas noticias</h5>
		<div
			class="grid grid-cols-1 lg:grid-cols-2 mt-16 gap-x-10 gap-y-10 mx-5 lg:mx-0"
		>
			<article class="lg:border-r border-gray-400">
				<p class="text-gray-600">16 de mayo, 2024</p>
				<a href="/">
					<h3
						class="text-gray-950 text-4xl lg:text-5xl font-semibold hover:text-secondary transition-colors"
					>
						Innovamos en soluciones legales
					</h3>
				</a>
				<p class="text-gray-600 mt-5 text-lg lg:text-xl text-pretty">
					Nuestro equipo se dedica a ofrecer servicios legales de alta
					calidad que satisfacen sus necesidades específicas. Juntos,
					construyamos un futuro legal más justo.
				</p>
				<a
					href="/"
					class="mt-5 inline-flex text-white text-sm lg:text-lg justify-center items-center gap-x-2 bg-secondary px-3 py-1 rounded-md hover:scale-105 transition-transform"
				>
					<span> Leer más </span>
					<RightArrow classname="size-5 mt-1" />
				</a>
			</article>
			<div>
				<article class="border-b border-gray-400 pb-5">
					<p class="text-gray-600">9 de mayo, 2024</p>
					<a href="/">
						<h3
							class="text-gray-950 text-2xl font-semibold hover:text-secondary transition-colors"
						>
							Impulsando la justicia a través de la tecnología
						</h3>
					</a>
					<p class="text-gray-600 mt-3 text-md text-pretty">
						Descubra cómo nuestro palacio de justicia está
						utilizando la última tecnología para mejorar el acceso a
						la justicia.
					</p>
					<a
						href="/"
						class="mt-3 inline-flex text-white text-sm justify-center items-center gap-x-2 bg-secondary px-3 py-1 rounded-md hover:scale-105 transition-transform"
					>
						<span> Leer más </span>
						<RightArrow classname="size-5 mt-1" />
					</a>
				</article>
				<article class="pb-5 mt-5">
					<p class="text-gray-600">2 de mayo, 2024</p>
					<a href="/">
						<h3
							class="text-gray-950 text-2xl font-semibold hover:text-secondary transition-colors"
						>
							Tendencias legales que debe conocer
						</h3>
					</a>
					<p class="text-gray-600 mt-3 text-md text-pretty">
						Manténgase informado sobre las últimas tendencias
						legales que están transformando nuestro mundo.
					</p>
					<a
						href="/"
						class="mt-3 inline-flex text-white text-sm justify-center items-center gap-x-2 bg-secondary px-3 py-1 rounded-md hover:scale-105 transition-transform"
					>
						<span> Leer más </span>
						<RightArrow classname="size-5 mt-1" />
					</a>
				</article>
			</div>
		</div>
	</section>
</MainLayout>
