---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";

interface props {
    title: string;
}

const { title = "Poder Judicial de Guinea Ecuatorial" } = Astro.props;
const { pathname } = Astro.url;
console.log(pathname);
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="min-h-screen flex flex-col">
        <Navbar classname={pathname === "/" ? "absolute top-0 left-0" : ""} />
        <main class="flex-grow">
            <slot />
        </main>
        <Footer />
    </body>
</html>
